package {{package_name}}

type Instruction interface {
	instrTag()
}

// Data structures for Switch instructions
type ConstCase struct {
	Val   Value
	Label string
}

type StructCase struct {
	Functor string
	Label   string
}

type GetConstant struct { C Value; Ai int }
func (i *GetConstant) instrTag() {}

type GetVariable struct { Xn int; Ai int }
func (i *GetVariable) instrTag() {}

type GetValue struct { Xn int; Ai int }
func (i *GetValue) instrTag() {}

type GetStructure struct { Functor string; Ai int }
func (i *GetStructure) instrTag() {}

type GetList struct { Ai int }
func (i *GetList) instrTag() {}

type UnifyVariable struct { Xn int }
func (i *UnifyVariable) instrTag() {}

type UnifyValue struct { Xn int }
func (i *UnifyValue) instrTag() {}

type UnifyConstant struct { C Value }
func (i *UnifyConstant) instrTag() {}

type PutConstant struct { C Value; Ai int }
func (i *PutConstant) instrTag() {}

type PutVariable struct { Xn int; Ai int }
func (i *PutVariable) instrTag() {}

type PutValue struct { Xn int; Ai int }
func (i *PutValue) instrTag() {}

type PutStructure struct { Functor string; Ai int }
func (i *PutStructure) instrTag() {}

type PutList struct { Ai int }
func (i *PutList) instrTag() {}

type SetVariable struct { Xn int }
func (i *SetVariable) instrTag() {}

type SetValue struct { Xn int }
func (i *SetValue) instrTag() {}

type SetConstant struct { C Value }
func (i *SetConstant) instrTag() {}

type Allocate struct{}
func (i *Allocate) instrTag() {}

type Deallocate struct{}
func (i *Deallocate) instrTag() {}

type Call struct { Pred string; Arity int }
func (i *Call) instrTag() {}

type CallForeign struct { Pred string; Arity int }
func (i *CallForeign) instrTag() {}

type CallPc struct { TargetPC int; Arity int }
func (i *CallPc) instrTag() {}

type Execute struct { Pred string }
func (i *Execute) instrTag() {}

type ExecutePc struct { TargetPC int }
func (i *ExecutePc) instrTag() {}

type Jump struct { Label string }
func (i *Jump) instrTag() {}

type JumpPc struct { TargetPC int }
func (i *JumpPc) instrTag() {}

type CutIte struct{}
func (i *CutIte) instrTag() {}

type BeginAggregate struct { AggType string; ValueReg int; ResultReg int }
func (i *BeginAggregate) instrTag() {}

type EndAggregate struct { ValueReg int }
func (i *EndAggregate) instrTag() {}

type Proceed struct{}
func (i *Proceed) instrTag() {}

type BuiltinCall struct { Op string; Arity int }
func (i *BuiltinCall) instrTag() {}

type TryMeElse struct { Label string; Arity int }
func (i *TryMeElse) instrTag() {}

type TryMeElsePc struct { NextPC int; Arity int }
func (i *TryMeElsePc) instrTag() {}

type RetryMeElse struct { Label string; Arity int }
func (i *RetryMeElse) instrTag() {}

type RetryMeElsePc struct { NextPC int; Arity int }
func (i *RetryMeElsePc) instrTag() {}

type TrustMe struct{}
func (i *TrustMe) instrTag() {}

type SwitchOnConstant struct { Cases []ConstCase }
func (i *SwitchOnConstant) instrTag() {}

type ConstPcCase struct {
	Val      Value
	TargetPC int
}

type SwitchOnConstantPc struct { Cases []ConstPcCase }
func (i *SwitchOnConstantPc) instrTag() {}

type SwitchOnStructure struct { Cases []StructCase }
func (i *SwitchOnStructure) instrTag() {}

type StructPcCase struct {
	Functor  string
	TargetPC int
}

type SwitchOnStructurePc struct { Cases []StructPcCase }
func (i *SwitchOnStructurePc) instrTag() {}

type SwitchOnConstantA2 struct { Cases []ConstCase }
func (i *SwitchOnConstantA2) instrTag() {}

type SwitchOnConstantA2Pc struct { Cases []ConstPcCase }
func (i *SwitchOnConstantA2Pc) instrTag() {}
