    // Read {{base}} facts from stdin
    while (std::getline(std::cin, line)) {
        if (line.empty()) continue;
        size_t pos = line.find(':');
        if (pos != std::string::npos) {
            std::string from = line.substr(0, pos);
            std::string to = line.substr(pos + 1);
            query.addFact(from, to);
        }
    }
