{{match fn}}
; term_cmp.ll.mustache -- @wam_term_cmp: standard order of terms.
; One case per runtime chunk (a define with its comments and globals);
; the assembly order is wam_llvm_runtime_chunk/3.
{{case wam_term_cmp}}; M64: standard-term-order compare. Returns -1, 0, or +1.
; Category order (ISO): Number < Atom < Compound. Within each
; category, atoms by strcmp, numbers by value (mixed int/float
; widened to double), compounds by arity then functor then args
; left-to-right (recursive).
define i32 @wam_term_cmp(%WamState* %vm, %Value %v1, %Value %v2) {
entry:
  %d1 = call %Value @wam_deref_value(%WamState* %vm, %Value %v1)
  %d2 = call %Value @wam_deref_value(%WamState* %vm, %Value %v2)
  %t1 = extractvalue %Value %d1, 0
  %t2 = extractvalue %Value %d2, 0
  ; Map tag -> category: Atom=1, Number=0, Compound=2.
  %t1_atom = icmp eq i32 %t1, 0
  %t1_cmp = icmp eq i32 %t1, 3
  %t1_cat_mid = select i1 %t1_cmp, i32 2, i32 0
  %cat1 = select i1 %t1_atom, i32 1, i32 %t1_cat_mid
  %t2_atom = icmp eq i32 %t2, 0
  %t2_cmp = icmp eq i32 %t2, 3
  %t2_cat_mid = select i1 %t2_cmp, i32 2, i32 0
  %cat2 = select i1 %t2_atom, i32 1, i32 %t2_cat_mid
  %cat_eq = icmp eq i32 %cat1, %cat2
  br i1 %cat_eq, label %same_cat, label %diff_cat
diff_cat:
  %dc_lt = icmp slt i32 %cat1, %cat2
  %dc_r = select i1 %dc_lt, i32 -1, i32 1
  ret i32 %dc_r
same_cat:
  %sc_is_atom = icmp eq i32 %cat1, 1
  br i1 %sc_is_atom, label %cmp_atoms, label %sc_num_or_cmp
sc_num_or_cmp:
  %sc_is_cmp = icmp eq i32 %cat1, 2
  br i1 %sc_is_cmp, label %cmp_compounds, label %cmp_nums
cmp_atoms:
  %a_id1 = extractvalue %Value %d1, 1
  %a_id2 = extractvalue %Value %d2, 1
  %a_str1 = call i8* @wam_atom_to_string(i64 %a_id1)
  %a_str2 = call i8* @wam_atom_to_string(i64 %a_id2)
  %a_r = call i32 @strcmp(i8* %a_str1, i8* %a_str2)
  %a_lt = icmp slt i32 %a_r, 0
  %a_gt = icmp sgt i32 %a_r, 0
  %a_mid = select i1 %a_gt, i32 1, i32 0
  %a_result = select i1 %a_lt, i32 -1, i32 %a_mid
  ret i32 %a_result
cmp_nums:
  %n_t1_int = icmp eq i32 %t1, 1
  %n_t2_int = icmp eq i32 %t2, 1
  %n_both_int = and i1 %n_t1_int, %n_t2_int
  br i1 %n_both_int, label %cmp_int_int, label %cmp_num_float
cmp_int_int:
  %ii_v1 = extractvalue %Value %d1, 1
  %ii_v2 = extractvalue %Value %d2, 1
  %ii_lt = icmp slt i64 %ii_v1, %ii_v2
  %ii_gt = icmp sgt i64 %ii_v1, %ii_v2
  %ii_mid = select i1 %ii_gt, i32 1, i32 0
  %ii_result = select i1 %ii_lt, i32 -1, i32 %ii_mid
  ret i32 %ii_result
cmp_num_float:
  %nf_b1 = extractvalue %Value %d1, 1
  %nf_b2 = extractvalue %Value %d2, 1
  %nf_t1_flt = icmp eq i32 %t1, 2
  %nf_t2_flt = icmp eq i32 %t2, 2
  %nf_d1_flt = bitcast i64 %nf_b1 to double
  %nf_d1_int = sitofp i64 %nf_b1 to double
  %nf_d1 = select i1 %nf_t1_flt, double %nf_d1_flt, double %nf_d1_int
  %nf_d2_flt = bitcast i64 %nf_b2 to double
  %nf_d2_int = sitofp i64 %nf_b2 to double
  %nf_d2 = select i1 %nf_t2_flt, double %nf_d2_flt, double %nf_d2_int
  %nf_lt = fcmp olt double %nf_d1, %nf_d2
  %nf_gt = fcmp ogt double %nf_d1, %nf_d2
  %nf_mid = select i1 %nf_gt, i32 1, i32 0
  %nf_result = select i1 %nf_lt, i32 -1, i32 %nf_mid
  ret i32 %nf_result
cmp_compounds:
  %c_bits1 = extractvalue %Value %d1, 1
  %c_bits2 = extractvalue %Value %d2, 1
  %c_cp1 = inttoptr i64 %c_bits1 to %Compound*
  %c_cp2 = inttoptr i64 %c_bits2 to %Compound*
  %c_ar1_slot = getelementptr %Compound, %Compound* %c_cp1, i32 0, i32 1
  %c_ar1 = load i32, i32* %c_ar1_slot
  %c_ar2_slot = getelementptr %Compound, %Compound* %c_cp2, i32 0, i32 1
  %c_ar2 = load i32, i32* %c_ar2_slot
  %c_ar_eq = icmp eq i32 %c_ar1, %c_ar2
  br i1 %c_ar_eq, label %cmp_funcs, label %c_ar_diff
c_ar_diff:
  %c_ar_lt = icmp slt i32 %c_ar1, %c_ar2
  %c_ar_r = select i1 %c_ar_lt, i32 -1, i32 1
  ret i32 %c_ar_r
cmp_funcs:
  %c_fn1_slot = getelementptr %Compound, %Compound* %c_cp1, i32 0, i32 0
  %c_fn1 = load i8*, i8** %c_fn1_slot
  %c_fn2_slot = getelementptr %Compound, %Compound* %c_cp2, i32 0, i32 0
  %c_fn2 = load i8*, i8** %c_fn2_slot
  %c_fn_r = call i32 @strcmp(i8* %c_fn1, i8* %c_fn2)
  %c_fn_zero = icmp eq i32 %c_fn_r, 0
  br i1 %c_fn_zero, label %cmp_args_init, label %c_fn_diff
c_fn_diff:
  %c_fn_lt = icmp slt i32 %c_fn_r, 0
  %c_fn_result = select i1 %c_fn_lt, i32 -1, i32 1
  ret i32 %c_fn_result
cmp_args_init:
  %c_args1_slot = getelementptr %Compound, %Compound* %c_cp1, i32 0, i32 2
  %c_args1 = load %Value*, %Value** %c_args1_slot
  %c_args2_slot = getelementptr %Compound, %Compound* %c_cp2, i32 0, i32 2
  %c_args2 = load %Value*, %Value** %c_args2_slot
  br label %cmp_args_loop
cmp_args_loop:
  %ca_i = phi i32 [ 0, %cmp_args_init ], [ %ca_i_next, %cmp_args_continue ]
  %ca_done = icmp sge i32 %ca_i, %c_ar1
  br i1 %ca_done, label %cmp_args_equal, label %cmp_args_step
cmp_args_step:
  %ca_a1_ptr = getelementptr %Value, %Value* %c_args1, i32 %ca_i
  %ca_a1 = load %Value, %Value* %ca_a1_ptr
  %ca_a2_ptr = getelementptr %Value, %Value* %c_args2, i32 %ca_i
  %ca_a2 = load %Value, %Value* %ca_a2_ptr
  %ca_r = call i32 @wam_term_cmp(%WamState* %vm, %Value %ca_a1, %Value %ca_a2)
  %ca_nonzero = icmp ne i32 %ca_r, 0
  br i1 %ca_nonzero, label %cmp_args_ret, label %cmp_args_continue
cmp_args_ret:
  ret i32 %ca_r
cmp_args_continue:
  %ca_i_next = add i32 %ca_i, 1
  br label %cmp_args_loop
cmp_args_equal:
  ret i32 0
}{{/match}}
