
    // CLI interface
    aload args
    arraylength
    iconst_2
    if_icmpne USAGE
    aload args
    iconst_0
    aaload
    aload args
    iconst_1
    aaload
    invokestatic check(String, String)boolean
    ifeq NOT_REACHABLE
    %println args[0], ":", args[1]
    return
  NOT_REACHABLE:
    iconst_1
    invokestatic System.exit(int)void
  USAGE:
    %println <err> "Usage: {{pred}} <start> <target>"
    iconst_1
    invokestatic System.exit(int)void
  }
}
