
; Main method: read edges from file (first argument)
.method public static main : ([Ljava/lang/String;)V
    .limit stack 5
    .limit locals 6

    new java/io/BufferedReader
    dup
    new java/io/FileReader
    dup
    aload_0
    iconst_0
    aaload
    invokespecial java/io/FileReader <init> (Ljava/lang/String;)V
    invokespecial java/io/BufferedReader <init> (Ljava/io/Reader;)V
    astore_1

LREAD_LOOP:
    aload_1
    invokevirtual java/io/BufferedReader readLine ()Ljava/lang/String;
    astore_2
    aload_2
    ifnull LREAD_DONE
    aload_2
    ldc ":"
    invokevirtual java/lang/String contains (Ljava/lang/CharSequence;)Z
    ifeq LREAD_LOOP
    aload_2
    ldc ":"
    iconst_2
    invokevirtual java/lang/String split (Ljava/lang/String;I)[Ljava/lang/String;
    astore_3
    aload_3
    iconst_0
    aaload
    invokevirtual java/lang/String trim ()Ljava/lang/String;
    aload_3
    iconst_1
    aaload
    invokevirtual java/lang/String trim ()Ljava/lang/String;
    invokestatic {{pred_cap}}Query addFact (Ljava/lang/String;Ljava/lang/String;)V
    goto LREAD_LOOP
LREAD_DONE:
